<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.nettyrpc.*"/>

    <context:property-placeholder location="classpath:rpc.properties"/>

	<!-- RPC客户端配置 -->

    <bean id="serviceDiscovery" class="com.nettyrpc.registry.ServiceDiscovery">
        <constructor-arg name="registryAddress" value="${registry.address}"/>
        <constructor-arg name="connectionPerClient" value="3"/>
    </bean>
    
    <bean id="RPCPool" class="java.util.concurrent.ThreadPoolExecutor">
		<constructor-arg index="0" value="5" />
		<constructor-arg index="1" value="10" />
		<constructor-arg index="2" value="600" />
		<constructor-arg index="3" type="java.util.concurrent.TimeUnit" value="SECONDS"/>
		<constructor-arg index="4" type="java.util.concurrent.BlockingQueue">
			<bean class="java.util.concurrent.ArrayBlockingQueue">
		        <constructor-arg index="0" value="1000"/>
		        <constructor-arg index="1" value="false"/>
		    </bean>
		</constructor-arg>
		<constructor-arg index="5" type="java.util.concurrent.ThreadFactory">
			<bean class="com.nettyrpc.thread.NamedThreadFactory">
		        <constructor-arg index="0" value="RPC-POOL"/>
		    </bean>
		</constructor-arg>
		<constructor-arg index="6" type="java.util.concurrent.RejectedExecutionHandler">
			<bean class="java.util.concurrent.ThreadPoolExecutor$CallerRunsPolicy" />
		</constructor-arg>
	</bean>

    <bean id="rpcClient" class="com.nettyrpc.client.RpcClient">
        <constructor-arg name="serviceDiscovery" ref="serviceDiscovery"/>
        <constructor-arg name="threadPoolExecutor" ref="RPCPool" />
    </bean>
    
    <!-- RPC客户端配置  END-->
    
    <!-- RPC服务端配置 -->

    <bean id="serviceRegistry" class="com.nettyrpc.registry.ServiceRegistry">
        <constructor-arg name="registryAddress" value="${registry.address}"/>
    </bean>

    <bean id="rpcServer" class="com.nettyrpc.server.RpcServer">
        <constructor-arg name="serverAddress" value="${server.address}"/>
        <constructor-arg name="serviceRegistry" ref="serviceRegistry"/>
    </bean>
	
	<!-- RPC服务端配置  END-->
</beans>